
/* global styles */
body{
    background-color: $lighterPrimaryColor;
    color: $darkPrimaryColor;
}
fieldset {
    border: none;
}
    //button styles
    a,
    button {
        background: $darkPrimaryColor;
        color: $white;
        border: none;
        border-radius: 7px;
        padding: 15px 45px;
        text-decoration: none;
        color: $white;
    }
    a:hover,
    button:hover,
    a:focus,
    button:focus {
        background-color: $lightPrimaryColor;
    }

    // fonts
    h1,
    h2 {
        font-family: $primaryFont;
    }
    p,
    a,
    label {
        font-family: $secondaryFont;
    }
    img{
        width: 200px;
        border-radius: 50%;
        border: 5px solid $lightPrimaryColor;
    }
/* header styles */
header{
      background-image: radial-gradient($lighterPrimaryColor, $lightPrimaryColor);

    text-align: right;
    section {
        display: flex;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 3.5em;
        margin-bottom: 0;
    }
    p {
        margin: 10px 0 30px 0;
        width: 50vw;
    }
    a {
        font-size: 1.5em;
    }
    .mom {
        margin-left: 20px;
    }
    #mom2{
        z-index: 10;
        position: absolute;
        opacity: 0;
        
    }
    #mom2:hover,
    #mom2:focus {
        opacity: 1;
    }
}

/* question  styles */
.question, 
header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.innerFieldset {
    text-align: left;
    width: 35vw;
}




/* result  styles */
.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding: 20px;
    height: 100vh;
}
.answer{
    display: flex;
    align-items: center;
    .percentageAnswer {
        font-size: 90px;
    }
    .textAnswer {
        font-size: 50px;
        margin-left: 15px;
    }
}
