/*
the following were used 
https://leaverou.github.io/bubbly/
*/
/* global styles */
.wrapper {
    margin:0 auto;
    max-width: 950px;
}
body{
    background-color: $lighterPrimaryColor;
    color: $darkPrimaryColor;
}
fieldset {
    border: none;
}
    //button styles
    a,
    button {
        background: $darkPrimaryColor;
        color: $white;
        border: none;
        border-radius: 7px;
        padding: 15px 45px;
        text-decoration: none;
        color: $white;
    }
    a:hover,
    button:hover,
    a:focus,
    button:focus {
        background-color: $lightPrimaryColor;
    }

    // fonts
    h1,
    h2 {
        font-family: $primaryFont;
        color: $darkSecondaryColor;
    }
    p,
    a,
    label,
    span  {
        font-family: $secondaryFont;
    }
    img{
        width: 200px;
        border-radius: 50%;
        border: 10px solid $darkSecondaryColor;
        box-shadow: 0 0 1px $darkPrimaryColor;
    }
/* header styles */
header{
      background-image: radial-gradient($lighterPrimaryColor, $lightPrimaryColor);

    text-align: right;
    section {
        display: flex;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 3.5em;
        margin-bottom: 0;
    }
    p {
        margin: 10px 0 30px 0;
        width: 50vw;
    }
    a {
        font-size: 1.5em;
    }
    .speechBubble {
    opacity: 0;
	position: relative;
	background: $darkSecondaryColor;
    border-radius: .4em;
    left: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px $darkSecondaryColor;
    color: $lightSecondaryColor;

    span {
        height: 39px;
        width: 100px;
        padding: 11px;
        font-weight: 700;
    }
}

    .speechBubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: $darkSecondaryColor;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10.5px;
    margin-bottom: -21px;
    }
    .mom {
        margin-left: 20px;
    }
    #mom2{
        z-index: 10;
        position: absolute;
        opacity: 0;
        
    }
}

/* question  styles */
.question, 
header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.innerFieldset {
    text-align: left;
    width: 35vw;
}




/* result  styles */
@keyframes bigFan {
    0% {
                transform: rotate(0);
                opacity: 1;
            }
            100%{
                transform: translateY(-100px)rotateX(3deg) scale(3);
                
                opacity: 0; 
            }

}
.bigFan {
    color: $lightSecondaryColor;
    position: absolute;
    z-index: -20;
    animation-name: bigFan;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

}
.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    img {
        width: 300px;
    }
}
.answer{
    display: flex;
    align-items: center;
    .percentageAnswer {
        font-size: 90px;
    }
    .textAnswer {
        font-size: 50px;
        margin-left: 15px;
    }
}
