/* 
COLOR WORLD!!! */
$lightSecondaryColor: #f9c0b8;
$darkSecondaryColor: #f45a5a;
$darkPrimaryColor: #446048;
$lightPrimaryColor: #69936f;
$lighterPrimaryColor: #eef9ed;
$white: white;


// FONT WORLD!!!!
$primaryFont: 'Berkshire Swash', cursive;
$secondaryFont: 'Rokkitt', serif;



