/* 
COLOR WORLD!!! */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
the following were used 
https://leaverou.github.io/bubbly/
*/
/* global styles */
.wrapper {
  margin: 0 auto;
  max-width: 948px;
}

body {
  background-color: #eef9ed;
  color: #446048;
}

fieldset {
  border: none;
}

a,
button {
  background: #446048;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 15px 45px;
  text-decoration: none;
  color: white;
}

a:hover,
button:hover,
a:focus,
button:focus {
  background-color: #69936f;
}

h1,
h2 {
  font-family: "Rokkitt", serif;
  color: #f45a5a;
}

p,
a,
label,
span {
  font-family: "Roboto", sans-serif;
}

img {
  width: 200px;
  border-radius: 50%;
  border: 10px solid #f45a5a;
  -webkit-box-shadow: 0 0 1px #446048;
          box-shadow: 0 0 1px #446048;
}

/* header styles */
header {
  background-image: radial-gradient(#eef9ed, #69936f);
  text-align: right;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-size: 3.5em;
  margin-bottom: 0;
}

header p {
  margin: 10px 0 30px 0;
  width: 50vw;
}

header a {
  font-size: 1.5em;
}

header .speechBubble {
  opacity: 0;
  position: relative;
  background: #f45a5a;
  border-radius: .4em;
  left: 218px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 2px #f45a5a;
          box-shadow: 0 0 2px #f45a5a;
  color: #ffdbd6;
}

header .speechBubble span {
  height: 39px;
  width: 100px;
  padding: 11px;
  font-weight: 700;
}

header .speechBubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 21px solid transparent;
  border-top-color: #f45a5a;
  border-bottom: 0;
  border-right: 0;
  margin-left: -10.5px;
  margin-bottom: -21px;
}

header .mom {
  margin-left: 20px;
}

header #mom2 {
  z-index: 10;
  position: absolute;
  opacity: 0;
}

/* question  styles */
.question,
header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.innerFieldset {
  text-align: left;
  width: 50vw;
}

/* result  styles */
.answerPicture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answerPicture img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-webkit-keyframes bigFan {
  0% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}

@keyframes bigFan {
  0% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}

.bigFan {
  color: #f45a5a;
  position: absolute;
  z-index: -20;
  -webkit-animation-name: bigFan;
          animation-name: bigFan;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.bigFan2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f45a5a;
  position: absolute;
  z-index: -20;
  -webkit-animation-name: bigFan;
          animation-name: bigFan;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.bigFan3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f45a5a;
  position: absolute;
  z-index: -20;
  -webkit-animation-name: bigFan;
          animation-name: bigFan;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.bigFan4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f45a5a;
  position: absolute;
  z-index: -20;
  -webkit-animation-name: bigFan;
          animation-name: bigFan;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.result img {
  width: 235px;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.percentageAnswer {
  font-weight: 700;
  font-size: 60px;
  width: 190px;
  margin-left: 40px;
}

.textAnswer {
  font-size: 47px;
  margin-left: 15px;
}

@media only screen and (max-width: 960px) {
  .question {
    margin: auto 0;
  }
  .innerFieldset {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  a, button {
    padding: 8px 19px;
    margin-top: 25px;
  }
  header h1 {
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
  }
  header .speechBubble {
    left: 41px;
    z-index: 20;
    top: 14px;
    opacity: 1;
  }
  header .speechBubble span {
    height: 35px;
    width: 90px;
    padding: 8px;
  }
  header #mom2 {
    opacity: 1;
  }
  header .mom {
    margin-left: 0;
  }
  header img {
    width: 150px;
    border: 2px solid #f45a5a;
  }
  .result img {
    width: 192px;
  }
  .answer {
    position: relative;
  }
  .percentageAnswer {
    position: absolute;
    top: -40px;
    left: 232px;
    right: 0;
    font-size: 60px;
  }
  .textAnswer {
    font-size: 23px;
  }
}
